* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(6, 8, 31, 0.85);
  /* Fondo oscuro transparente */
  border-bottom: 2px solid rgba(31, 74, 108, 0.3);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button.active {
  color: #2e529e;
  border-bottom: 3px solid #7aa2f7;
}

#clock,
#cpu,
#memory,
#language,
#tray {
  padding: 0 10px;
  margin: 0 5px;
}

#language {
  background-color: #4d75b6;
  color: #1a1b26;
  border-radius: 10px;
  margin: 4px 0;
}

tooltip {
  background: rgba(26, 27, 38, 0.95);
  border: 1px solid rgba(122, 162, 247, 0.5);
  border-radius: 10px;
}

tooltip label {
  font-size: 22px;
  font-family: "JetBrainsMono Nerd Font";
  color: #c0caf5;
}

#custom-clipboard {
  color: #7aa2f7;
  padding: 0 10px;
}

#pulseaudio {
  color: #7aa2f7;
  /* Azul principal */
  background: #24283b;
  /* Fondo un poco más claro que la barra */
  padding: 0 15px;
  margin: 4px 4px;
  border-radius: 10px;
  border-bottom: 2px solid #7aa2f7;
}

#pulseaudio.muted {
  color: #f7768e;
  /* Rojo si está silenciado */
  border-bottom: 2px solid #f7768e;
}

#custom-power {
  color: #f7768e;
  /* Rojo Tokyonight */
  background-color: #24283b;
  padding: 0 15px;
  margin: 4px 4px;
  border-radius: 10px;
  border-bottom: 2px solid #f7768e;
  font-size: 18px;
}

#custom-power:hover {
  background-color: #f7768e;
  color: #1a1b26;
}

#mpris {
  background-color: #24283b;
  color: #9ece6a;
  /* Verde suave de Tokyonight */
  padding: 0 15px;
  margin: 4px 10px;
  border-radius: 10px;
  border-bottom: 2px solid #9ece6a;
  font-weight: bold;
}

#mpris.paused {
  color: #bb9af7;
  /* Morado cuando está en pausa */
  border-bottom: 2px solid #bb9af7;
}

#mpris span {
  font-size: 18px;
  /* Iconos un poco más grandes */
}